@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.propaganda{
    background-image: url(/public/images/Banner.jpg);
    padding: 11%;
}

.cardPropaganda{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #FFF3E3;
    margin-left: 51%;
    margin-top: 2%;
    margin-right: -5%;
    padding: 2%;
}
.textoPropaganda{
    font-family: "Poppins";
    color: black;
}
.tituloPropaganda{
    font-family: "Poppins";
    font-size: 40px;
    font-weight: bold;
    color: #B88E2F;
    margin-block: -2%;
}
.botaoBuy{
    height: 74px;
    width: 222px;
    background-color: #B88E2F;
    border-style: none;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: bold;
    color: #FFF3E3;
}