@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.card{
    display: flex;
    gap: 15px;
    padding: 0 20px;
    justify-content: center;
}
.nomeCategoria{
    display: flex;
    justify-content: center;
    gap: 320px;
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 20px;
    font-size: 18px;
}

.browse{
    text-align: center;
    margin: 20px;
}
.frase{
    font-size: 34px;
    font-family: "Poppins";
    font-weight: 600;
    color:#3a3a3a;
}
.subfrase{
    font-size: 15px;
    font-family: "Poppins";
    color:#3a3a3a;
}